{% load static %}
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block extra_head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Scheduler</title>
    <link rel="stylesheet" href="{% static 'frontend/css.css' %}">
    <style>
        @font-face {
            font-family: "Concert";
            src: url("{% static 'fonts/ConcertOne-Regular.ttf' %}") format("truetype");
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-container">
        <a class="navbar-brand" href="/">My Website</a>
        <div class="navbar-menu">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="navbar-link" href="/">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="/profile">Profile</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="/posts">Posts</a>
                </li>
            </ul>
        </div>
        <div class="navbar-user">
            <span class="navbar-username">{{ user.username }}</span>
            <a class="navbar-link" href="{% url 'account_logout' %}">Logout</a>
        </div>
    </nav>
    {% block body %}
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
</body>

</html>