{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Social Media Scheduler</h1>
    <form action="/" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        <label for="socialMediaPlatform">Select a social media platform:</label>
        <select name="socialMediaPlatform" id="socialMediaPlatform">
            {% for platform in platforms %}
            <option value="{{ platform }}">{{ platform }}</option>
            {% endfor %}
        </select>

        <label for="postContent">Post content:</label>
        <textarea name="postContent" id="postContent" rows="4" placeholder="Enter your post content here..."></textarea>

        <label for="postDate">Post date:</label>
        <input type="datetime-local" name="postDate" id="postDate" />
        <br><br>
        <button class="primaryAction" type="submit" >Schedule</button>
    </form>
</div>

<script>
    function validateForm() {
        const dateTimeObject = document.getElementById("postDate");
        const dateTime = Date.parse(dateTimeObject.value);
        if (isNaN(dateTime) || dateTime - Date.now() < 0) {
            alert("The selected schedule date and time cannot be empty or earlier than the current date and time!");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
