body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

form {
    margin-top: 30px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

form input[type="text"],
form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.fa {
    font-size: 20px;
    margin-right: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

button.secondaryAction {
    margin-right: 10px;
    background-color: #ccc;
}

button.primaryAction:hover,
button.secondaryAction:hover {
    opacity: .8;
}

.navbar-container {
    margin: 0 auto;
    padding: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: black;
}

.navbar {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbar-menu {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-link {
    color: #020202;
    text-decoration: none;
}

.navbar-user {
    display: flex;
}

.navbar-username {
    font-weight: bold;
    margin-right: 10px;
}

.navbar-dropdown {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
}

.navbar-dropdown-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.navbar-user:hover .navbar-dropdown {
    display: block;
}

@font-face {
    font-family: "Concert";
    src: url("{% static 'fonts/ConcertOne-Regular.ttf' %}") format("truetype");
}

/* Define two columns with a width of 50% each */
.error-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Style for the left column */
.left-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the right column */
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the image */
.error-img {
    max-width: 50%;
    height: auto;
}

.error-p,
.error-h1 {
    font-family: Concert;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

thead tr {
    background-color: #007bff;
    color: #fff;
    text-align: left;
}

thead th {
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e6e6e6;
}

tbody td {
    padding: 10px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

.actions a:hover {
    text-decoration: underline;
}

.col-noposts {
    font-style: italic;
    color: #999;
}